.wrapper {
    margin: 0 auto;
    max-width: 640px;
    font-family: sans-serif;
}

.block-list {
    margin: 0;
    padding: 0;
}

.block ~ .block {
    margin-top: 20px;
}

.end {
    text-align: center;
    padding: 20px 0;
}