.block {
  align-items: center;
  background: #eee;
  display: flex;
  height: 400px;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: 100%;
}

.block.is-image {
  align-items: center;
  background: #eee;
  display: flex;
  height: auto;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;
}

.block.is-image img {
  max-width: 100%;
}
