.block {
    align-items: center;
    background: #eee;
    display: flex;
    height: 400px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .3s;
}

.block.is-small {
    height: 100px;
}

.block-view {
    opacity: 1;
}