.wrapper {
    margin: 0 auto;
    max-width: 640px;
    font-family: sans-serif;
}

.block-list {
    margin: 0;
    padding: 0;
}

.block ~ .block {
    margin-top: 20px;
}

.end {
    text-align: center;
    padding: 20px 0;
}

.threshold {
    position: fixed;
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px dashed rgba(255, 0, 0, 0.5);
    z-index: -1;
}