[data-scroll-fire-dummy] {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  width: 100% !important;
  height: 1px !important;
  pointer-events: none !important;
  width: 100% !important;
  overflow: hidden !important;
  background: none !important;
  border-width: 0 !important;
  outline: none !important;

  &[data-scroll-fire-dummy-view] {
    border-style: dashed !important;
    border-top-width: 1px !important;
  }
}
