[data-scroll-fire-dummy] {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  width: 100% !important;
  height: 1px !important;
  pointer-events: none !important;
  width: 100% !important;
  background: none !important;
  outline: none !important;
  border-width: 0 !important;
  transform: translateY(calc(var(--scroll-fire-ratio-top, 0) * -1)) !important;

  &[data-scroll-fire-dummy-view] {
    &::before {
      content: "" !important;
      display: block !important;
      position: absolute !important;
      left: 0 !important;
      top: 0 !important;
      width: 100% !important;
      border-color: inherit !important;
      border-style: dashed !important;
      border-width: 0 !important;
      border-top-width: 1px !important;
      transform: translateY(var(--scroll-fire-ratio-top, 0)) !important;
    }
  }
}
